<div class="title-wrap">
    <div class="title-left">
        <a class= "title-title" href="https://aprl.online"><img class ="title-img" src="/images/logo.png"></a>
    </div>
    <div class="title-right">
        <a href="https://github.com/AprilTheFool"><img class="link-img" src="/images/github.png"></a>
        <a href="https://open.spotify.com/artist/4RbBeNYJT0fkuNomoNbBm0"><img class="link-img" src="/images/spotify.png"></a>
        <a href="https://www.youtube.com/@ukyo.studio"><img class="link-img" src="/images/youtube.png"></a>
    </div>
</div>
<div class="sub">
    <div>
        <div class="flex">
          <div>
            <p style="font-weight: bold;" id="bio">
                ❤
            </p>
          </div>
        </div>
      </div>
    </div>
</div>
{{ partial "menu.html" (dict "menuID" "main" "page" .) }}
