:root {
    --fg: #bababa;
	--focus: #ffffff;
    --bg: #080808;
  }
  /* *{
    outline: red 2px solid;
  } */
.tiny5-regular {
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
body{
    background-color: var(--bg);
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.main{
	padding-top: 5rem;
}
.header{
    display: flex;
    margin-inline: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
a{
    text-decoration: none;
    color: var(--focus);
}
.logo-img{
    width: 20rem;
}
.menu{
    display: flex;
	margin-top: 2rem;
    width: 100%;
    align-items: center;
    justify-content: center;
	justify-content: space-between;
}
.profile-wrap{
	display:flex;
	width: 23rem;
	border: 2px solid var(--fg);
	padding: 10px;
}
.profile-img{
	width:10rem;
	height:10rem;
	border: 2px solid var(--fg);
}
.profile-info{
	padding-inline: 20px;
}
.profile-flag{
	width: 1.5rem;
}
.right{
	width: 30rem;
}
.menu-button{
	width: 14rem;
    height: 3.5rem;
    background-color: var(--bg);
    border: 2px solid var(--fg);
    display: flex;
    justify-content: center;
    align-items: center;
    /* window decoration effect */
    box-shadow: 0px -8px 0px 0px var(--fg);
    -webkit-box-shadow: 0px -8px 0px 0px var(--fg);
    -moz-box-shadow: 0px -8px 0px 0px var(--fg);
    font-size: 14pt;
}
.menu-button-img{
	position: relative;
	margin-right: 0.2rem;
	top:2px;
	filter: grayscale(100%) brightness(150%);
}
.content{
    
    padding-block: 2rem;
    padding-inline: 2rem;
    margin-inline: auto;
    background-color: var(--bg);
    border: 2px solid var(--fg);
    display: flex;
    /* window decoration effect */
    box-shadow: 0px -15px 0px 0px var(--fg);
    -webkit-box-shadow: 0px -15px 0px 0px var(--fg);
    -moz-box-shadow: 0px -15px 0px 0px var(--fg);
    font-size: 14pt;
	color: var(--focus);
	gap: 2rem;
}


/* crt effect */
/* credits to creme (https://codepen.io/creme)*/

@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

* {
	margin: 0;
	padding: 0;
}

html,
body {
	width: 100%;
	height: 100%;
}


.noise {
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100vw;
	min-height: 100vh;
	overflow: hidden;
	z-index: 400;
	opacity: 0.8;
	pointer-events: none;
  	opacity: 1;
	z-index: 450;
}

.noise:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url('https://ice-creme.de/images/background-noise.png');
	pointer-events: none;
  	will-change: background-position;
	animation: noise 1s infinite alternate;
}

.lines {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	pointer-events: none;
	z-index: 300;
	opacity: 0.6;
	will-change: opacity;
	animation: opacity 3s linear infinite;
}

.lines:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
	background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, .5) 51%);
	background-size: 100% 4px;
	will-change: background, background-size;
	animation: scanlines 0.2s linear infinite;
}

.main {
	position: relative;
	top: 0;
	left: 0;
	color: #fff;
	font-size: 2rem;
	width: 950px;
	margin-inline: auto;
	min-height: 100vh;
	background: var(--bg);
    background-size: 960px 540px;
    background-position: 20%;
}

.main .noise:before {
	background-size: 150%;
}

.main .vhs {
	position: absolute;
	left: 2rem;
	top: 2rem;
	will-change: text-shadow;
	animation: rgbText 2s steps(9) 0s infinite alternate;
}

.main .vhs .char {
	will-change: opacity;
	animation: type 1.2s infinite alternate;
	animation-delay: calc(60ms * var(--char-index));
}

.main .time {
	position: absolute;
	right: 2rem;
	top: 2rem;
	will-change: text-shadow;
	animation: rgbText 1s steps(9) 0s infinite alternate;
}

.main .counter {
	position: absolute;
	left: 2rem;
	bottom: 2rem;
	will-change: text-shadow;
	animation: rgbText 1s steps(9) 0s infinite alternate;
}

@keyframes noise {
	0%,
	100% {
		background-position: 0 0;
	}
	10% {
		background-position: -5% -10%;
	}
	20% {
		background-position: -15% 5%;
	}
	30% {
		background-position: 7% -25%;
	}
	40% {
		background-position: 20% 25%;
	}
	50% {
		background-position: -25% 10%;
	}
	60% {
		background-position: 15% 5%;
	}
	70% {
		background-position: 0 15%;
	}
	80% {
		background-position: 25% 35%;
	}
	90% {
		background-position: -10% 10%;
	}
}

@keyframes opacity {
	0% {
		opacity: 0.6;
	}
	20% {
		opacity: 0.3;
	}
	35% {
		opacity: 0.5;
	}
	50% {
		opacity: 0.8;
	}
	60% {
		opacity: 0.4;
	}
	80% {
		opacity: 0.7;
	}
	100% {
		opacity: 0.6;
	}
}

/* @keyframes scanlines {
	from {
		background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, .5) 51%);
		background-size: 100% 4px;
	}
	to {
		background: linear-gradient(to bottom, rgba(0, 0, 0, .5) 50%, transparent 51%);
		background-size: 100% 4px;
	}
} */

@keyframes rgbText {
	0% {
		text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6), 1px -1px 8px rgba(255, 255, 235, 0.7), 0px 0 1px rgba(251, 0, 231, 0.8), 0 0px 3px rgba(0, 233, 235, 0.8), 0px 0 3px rgba(0, 242, 14, 0.8), 0 0px 3px rgba(244, 45, 0, 0.8), 0px 0 3px rgba(59, 0, 226, 0.8);
	}
	25% {
		text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6), 1px -1px 8px rgba(255, 255, 235, 0.7), 0px 0 1px rgba(251, 0, 231, 0.8), 0 0px 3px rgba(0, 233, 235, 0.8), 0px 0 3px rgba(0, 242, 14, 0.8), 0 0px 3px rgba(244, 45, 0, 0.8), 0px 0 3px rgba(59, 0, 226, 0.8);
	}
	45% {
		text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6), 1px -1px 8px rgba(255, 255, 235, 0.7), 5px 0 1px rgba(251, 0, 231, 0.8), 0 5px 1px rgba(0, 233, 235, 0.8), -5px 0 1px rgba(0, 242, 14, 0.8), 0 -5px 1px rgba(244, 45, 0, 0.8), 5px 0 1px rgba(59, 0, 226, 0.8);
	}
	50% {
		text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6), 1px -1px 8px rgba(255, 255, 235, 0.7), -5px 0 1px rgba(251, 0, 231, 0.8), 0 -5px 1px rgba(0, 233, 235, 0.8), 5px 0 1px rgba(0, 242, 14, 0.8), 0 5px 1px rgba(244, 45, 0, 0.8), -5px 0 1px rgba(59, 0, 226, 0.8);
	}
	55% {
		text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6), 1px -1px 8px rgba(255, 255, 235, 0.7), 0px 0 3px rgba(251, 0, 231, 0.8), 0 0px 3px rgba(0, 233, 235, 0.8), 0px 0 3px rgba(0, 242, 14, 0.8), 0 0px 3px rgba(244, 45, 0, 0.8), 0px 0 3px rgba(59, 0, 226, 0.8);
	}
	90% {
		text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6), 1px -1px 8px rgba(255, 255, 235, 0.7), -5px 0 1px rgba(251, 0, 231, 0.8), 0 5px 1px rgba(0, 233, 235, 0.8), 5px 0 1px rgba(0, 242, 14, 0.8), 0 -5px 1px rgba(244, 45, 0, 0.8), 5px 0 1px rgba(59, 0, 226, 0.8);
	}
	100% {
		text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6), 1px -1px 8px rgba(255, 255, 235, 0.7), 5px 0 1px rgba(251, 0, 231, 0.8), 0 -5px 1px rgba(0, 233, 235, 0.8), -5px 0 1px rgba(0, 242, 14, 0.8), 0 5px 1px rgba(244, 45, 0, 0.8), -5px 0 1px rgba(59, 0, 226, 0.8);
	}
}

@keyframes type {
	0%,
	19% {
		opacity: 0;
	}
	20%,
	100% {
		opacity: 1;
	}
}

* {
	box-sizing: border-box;
}
@media (max-width: 1020px) {

	.content{
		flex-direction: column;
		padding-block: none;
		padding-inline: none;
		transform: scale(90%);
		transform-origin: top center;
		max-width: 100%;
		overflow-x: hidden;
	}
	.profile-wrap{
		width:30rem;
		border: none;
	}
	.right {
		width: 100%;
		word-wrap: break-word; /* or use word-break if needed */
		overflow-wrap: break-word;
	}
	.menu{
		margin-top: 0;
	}
	.menu-button{
		width: 90%;
	}
  }