body {
  color: #e7e7e7;
  background-color: rgb(14, 14, 14);
  font-family: sans-serif;
  line-height: 1.5;
  margin: 1rem;
  padding-inline: 2rem;
  max-width: 768px;
  margin-inline: auto;
}

header {

}

footer {
  border-top: 1px solid #434343;
  margin-top: 1rem;
}

a {
  color: rgb(255, 137, 173);
  text-decoration: none;
}

.title-wrap{
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  margin-block: 1.5rem;
}
.title-left{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: -1.4rem;
}
.title-right{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.title-img{
  width: 11rem;
  height: 6rem;
}
.title-title{
  color: #e7e7e7;
}
.link-img{
  width: 1.5rem;
}
.sub{
  background-color: rgba(160, 84, 97, 0.239);
  height: 3rem;
  padding-inline : 1rem;
  display: flex;
  align-items: center;
  box-shadow: -6px 0px 0px 0px rgba(255,137,173,1);
  -webkit-box-shadow: -6px 0px 0px 0px rgba(255,137,173,1);
  -moz-box-shadow: -6px 0px 0px 0px rgba(255,137,173,1);
}